################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NHWebApi/NobHubAPI/.vs/NobHubAPI/v15
/NHWebApi/NobHubAPI/obj
/NHWebApi/NobHubAPI/NobHubAPI.csproj.user
/NHWebApi/.vs/NobHubAPI
/NHWebApi/NobHubAPI/NobHubAPI/obj
/NHWebApi/NobHubAPI.BAL/obj
/NHWebApi/NobHubAPI.COMMON/obj
/NHWebApi/NobHubAPI/bin
/NHWebApi/NobHubAPI.BAL/bin
/NHWebApi/NobHubAPI.COMMON/bin
/NHWebApi/NobHubAPI.DAL/bin
/NHWebApi/NobHubAPI.DAL/obj
/NHWebApi/NobHubAPI/Log
/NHWebApi/.vs/config
/NHWebApi/NobHubAPI/Properties/PublishProfiles
/Prototype/NobHubWeb/.vs
/Prototype/NobHubWeb/NobHubWeb/bin
/Prototype/NobHubWeb/NobHubWeb/obj
/Prototype/NobHubWeb/NobHubWeb/Properties/PublishProfiles
/.vscode
/Prototype/NobHubWeb/NobHub.Common/obj
/Prototype/NobHubWeb/NobHub.DAL/obj
/Prototype/NobHubWeb/NobHub.DAL/bin/Debug/netcoreapp2.2
/Prototype/NobHubWeb/NobHub.Common/bin/Debug/netcoreapp2.2
/Prototype/NobHubWeb/NobHub.BAL/obj
/Prototype/NobHubWeb/NobHub.BAL/bin/Debug/netcoreapp2.2
/Prototype/NobHubWeb/NobHub.BAL/bin/Release/netcoreapp2.2
/Prototype/NobHubWeb/NobHub.Common/bin/Release/netcoreapp2.2
/Prototype/NobHubWeb/NobHub.DAL/bin/Release/netcoreapp2.2
/Prototype/NobHubWeb/NobHubWeb/Log/DATE_14.11.2019.log
